<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ball_drop.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E63566E1E3FCD21000977EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6356871E3FCD21000977EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E6356921E3FCD22000977EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
